.loading-screen {
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: resource('UI/Sprites/LoadingScreen');
}

.loading {
    align-items: center;
    justify-content: center;
    -unity-font-definition: none;
    -unity-font: resource('Fonts/Ubuntu/Ubuntu-Bold');
    font-size: 120px;
    color: rgb(255, 255, 255);
}

.not-displayed {
    display: none;
}