.loading-screen {
    align-items: center;
    justify-content: center;
    background-image: resource('UI/Sprites/LoadingScreen');
    width: 100%;
    height: 100%;
}

.loading {
    align-items: center;
    justify-content: center;
    -unity-font-definition: none;
    -unity-font: resource('UI/Fonts/Ubuntu/Ubuntu-Bold');
    font-size: 120px;
    color: rgb(255, 255, 255);
}

.not-displayed {
    display: none;
}
