.build-version {
    -unity-font: resource('Fonts/Ubuntu/Ubuntu-Bold');
    font-size: 22px;
    -unity-font-definition: none;
    height: 50px;
    -unity-text-align: upper-center;
    color: rgba(255, 255, 255, 0.5);
    padding: 0;
    margin: 0;
}
