.log-message-counts {
}

.icon {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.element {
    flex-direction: row;
    align-items: center;
}

.count {
    width: 28px;
}

.info {
}

.warning {
    background-image: resource('UI/Sprites/Icons/Console/IconWarning');
}

.error {
    background-image: resource('UI/Sprites/Icons/Console/IconError');
}
