.label {
    margin: 0;
    padding: 0;
    -unity-font: resource('Fonts/Exo 2/Exo2-Regular');
    -unity-font-definition: none;
    padding-top: 1px;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
}

.not-displayed {
    display: none;
}
