.centering {
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    position: absolute;
}

.not-displayed {
    display: none;
}

.help-panel {
    background-image: resource('UI/Sprites/Panels/HelpPanel');
    width: 512px;
    height: 800px;
    padding-left: 15px;
    padding-right: 15px;
}

.hide-text {
    position: absolute;
    right: 0;
    top: 17px;
}
